#left {
  float: left; // Левые блоки размещаем слева
  width: 200px; // Установка ширины 200 пикселей
}
#right {
  float: right; // Правые блоки размещаем справа
  width: 200px; // Установка ширины 200 пикселей
}
#center {
  margin-left: 200px; // Отступ слева 200 пикселей
  margin-right: 200px; // Отступ справа 200 пикселей
}
.clear {
  clear: both; // Отменяем позиционирование (влияние float)
}